<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/retoX.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/stylesS.css">
    <title>Reto X</title>
</head>

<body>
    <h1>reto X</h1>
    <div class="header">
        <h1>Titulo</h1>
        <p>SubTitulo</p>
    </div>

    <div>
        <input type="text" name="val-1" id="val-1" placeholder="Introduce tu pokemon">
        <input type="text" name="val-2" id="val-2">
        <a href="view/defX.html" onclick="return def_X()">Validar reto</a>
    </div>

</body>

</html>