<!DOCTYPE html>
<html lang="en">
<header class="site clearfix">
    <!--Guia sobre la vulnerabilidad https://cyberbotnet.com/posts/Auth-Bypass-with-PHP-Type-Juggling/-->
    <link href="../css/def7.css" rel="stylesheet" type="text/css">
    <link href="../css/stylesGlitch.css" rel="stylesheet" type="text/css">
    <script src="../js/pryueba.js"></script>
    <script src="../js/def7.js"></script>
</header>

<body>

    <div class=" row ">
        <div class="overlay "></div>

        <div class="col one">
            <img src="../img/Atlas_White_on_Black_Logo.png" alt="Atlas" width="740" height="729" id="logo-v" />
        </div>
        <div class="col_two ">
            <h4>ATLAS Corp <br /> <b>H</b>euristically <b>E</b>ncrypted <b>R</b>eal-Time <b>O</b>perating <b>S</b>ystem (HEROS)</h4>
            <p>----------------------------------------------------------</p>
            <p>HEROS v 1.1.2</p>
            <p>(c)2001-2002 ATLAS Corp</p>
            <p>- Server APACHE -</p>
        </div>
    </div>

    <!--<nav class="site clear ">
        <ul>
            <li><a href="# " title=" ">Return Home</a></li>
            <li><a href="# " title=" ">Our Clients</a></li>
            <li><a href="# " title=" ">Contact Us</a></li>
        </ul>
    </nav>-->

    <div class="wrapper ">
        <div class="content clearfix ">

            <p class="clear "><br /></p>

            <div class="row ">
                <div class="aligCenter ">
                    <h2><i class="fal fa-server "></i> RECURSOS DEL SISTEMA <i class="fal fa-server "></i></h2>
                    <p>- NETWORK</p>
                    <p>- ARCHIVOS SISTEMA</p>
                    <p>- HARDWARE</p>
                    <p>- ARCHIVOS USUARIO</p>
                    <p>- ARCHIVOS I.A</p>
                    <p>- BATERIA</p>
                    <p class="red ">- PROTOCOLOS DE SEGURIDAD</p>
                    <p class="orange ">- SERVIDOR FTP</p>
                </div>
            </div>

            <h1 data-text="ERROR DETECTADO " class="red animation_text "><i class="fal fa-exclamation-triangle "></i>ERROR DETECTADO<i class="fal fa-exclamation-triangle "></i></h1><br />

            <div class="yellow ">
                <h2> <i class="fas fa-microchip "></i> SISTEMA COMPROMETIDO <i class="fas fa-microchip "></i></h2><br />
                <p>RESTAURACIÓN MANUAL NECESARIA</p><br />
                <br>
                <marquee>CORREO RECIVIDO "DESCIFRAR (ZMDQAIL JQMV TI XIOQVI) E INTRODUCIR MENSAJE PARA REPARAR EL SISTEMA"</marquee>
            </div>
            <div class="row">
                <h3 class="aligCenter">Cifrado Personalizado</h3>
                <div class="col two">
                    <h4>Mensaje</h4>
                    <input type="text" id="mensaje">
                </div>
                <div class="col two">
                    <h4>Desplazamiento:</h4>
                    <input type="number" id="desplazamiento" size="1">
                </div>
                <div class="col one">
                    <a class="button" id="cifrar">Cifrar</a>
                    <a class="button" id="descifrar">Descifrar</a>
                </div>
                <div class="col one">
                    <h4>Mensaje Descifrado</h4>
                    <input type="text" id="mensaje2">
                </div>
            </div>
            <div class="row">
                <label>MSG >></label><input type="text" name="msg-t" id="msg-t"><br />
                <br>
                <center><a class="button" alt="" onclick="return protocolos()" href="view/desaf8.php">Restablecer Protocolos</a></center>
            </div>
        </div>
    </div>
</body>

</html>