<!DOCTYPE html>
<html lang="en">

<head class="site clearfix">
    <meta charset="utf-8">
    <title>TERMINAL A12</title>
    <link rel="icon" type="image/png" href="../img/logo.png">
    <link href="../css/stylesT.css" rel="stylesheet" type="text/css">
    <link href="../css/stylesGlitch.scss" rel="stylesheet" type="text/scss">
    <link rel="stylesheet" type="text/css" href="../css/stylesGlitch.css">
    <script src="../js/desafio_1.js"></script>
    <script src="../js/pryueba.js"></script>
</head>

<body>
    <div class="row">
        <div class="overlay"></div>

        <div class="col one">
            <img src="../img/Atlas_White_on_Black_Logo.png" alt="Atlas" width="740" height="729" id="logo-v" />
        </div>
        <div class="col two">
            <h4><u>ATLAS Corp <br /> <b>H</b>euristically <b>E</b>ncrypted <b>R</b>eal-Time <b>O</b>perating <b>S</b>ystem (HEROS)</u></h4>

            <p>HEROS v 1.1.2</p>
            <p>(c)2001-2002 ATLAS Corp</p>
            <p>- Server APACHE -</p>
        </div>
    </div>

    <!--
    <nav class="site clear">
        <ul>
            <li><a href="#" title="">Return Home</a></li>
            <li><a href="#" title="">Our Clients</a></li>
            <li><a href="#" title="">Contact Us</a></li>
        </ul>
    </nav>-->

    <div class="wrapper">
        <div class="content clearfix">

            <div class="row">
                <div class="col_one">
                    <h4><u>ADMISTRADORES DEL SISTEMA</u></h4>
                    <p>- Fabrizio Rosales Santos</p>
                    <p>- Edgar Marcos Gallego</p>
                    <p>- Sergio Merino Saceda</p>
                </div>

            </div>

            <p class="clear"><br /></p>

            <div class="row">
                <div class="aligCenter">
                    <h2><i class="fal fa-server"></i> RECURSOS DEL SISTEMA <i class="fal fa-server"></i></h2>
                    <p>- NETWORK</p>
                    <p>- ARCHIVOS SISTEMA</p>
                    <p>- HARDWARE</p>
                    <p>- ARCHIVOS USUARIO</p>
                    <p>- ARCHIVOS I.A</p>
                    <p>- BATERIA</p>
                    <p>- PROTOCOLOS DE SEGURIDAD</p>
                    <p>- SERVIDOR FTP</p>
                </div>
            </div>

            <br />
            <br />

            <div class="row">

                <div class="aligCenter">
                    <h2> <i class="fas fa-microchip"></i> SISTEMA REPARADO <i class="fas fa-microchip"></i></h2><br />
                    <p>RESTAURACIÓN MANUAL COMPLETADA</p><br />
                    <img src="../img/final.gif" alt="Atlas">
                </div>

            </div>
        </div>
    </div>

</body>

</html>